{% extends "encyclopedia/layout.html" %}

{% block title %}{% if title %}Edit {{ title }}{% else %}Create New Page{% endif %}{% endblock %}

{% block body %}
    <h1>{% if title %}Edit {{ title }}{% else %}Create New Page{% endif %}</h1>
    <form action="{% if title %}{% url 'edit_entry' title %}{% else %}{% url 'new_entry' %}{% endif %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        {% if messages %}
            <div class="alert alert-warning">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}
        <button type="submit" class="btn btn-primary">{% if title %}Save Changes{% else %}Create{% endif %}</button>
    </form>
{% endblock %}
